<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="../Dashboard/">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../Account/" aria-expanded="false" aria-controls="account">
        <i class="fa fa-user-circle-o menu-icon"></i>
        <span class="menu-title">My Account</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../Beneficiary/" aria-expanded="false" aria-controls="beneficiary">
        <i class="icon-briefcase menu-icon"></i>
        <span class="menu-title">Beneficiary</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#transfer" aria-expanded="false" aria-controls="transfer">
        <i class="fa fa-money menu-icon"></i>
        <span class="menu-title">Transfer</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="transfer">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="../Single_Transfer/">Single Transfer</a></li>
          <li class="nav-item"> <a class="nav-link" href="../Batch_Transfer/">Batch Transfer</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../Trans_History/" aria-expanded="false" aria-controls="Trans_History">
        <i class="fa fa-tasks menu-icon"></i>
        <span class="menu-title">Trans. History</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  href="../Audit_Trail/" aria-expanded="false" aria-controls="Audit_Trail">
        <i class="icon-contract menu-icon"></i>
        <span class="menu-title">Audit Trail</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../User_Mgt/" aria-expanded="false" aria-controls="User_Mgt">
        <i class="icon-head menu-icon"></i>
        <span class="menu-title">User Managt</span>
      </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
        <i class="icon-ban menu-icon"></i>
        <span class="menu-title">Error pages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="error">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../../../docs/documentation.html">
        <i class="icon-paper menu-icon"></i>
        <span class="menu-title">Documentation</span>
      </a>
    </li> -->
  </ul>
</nav>